    .block_login{
        display: flex;
        width: 400px;
        flex-direction: column;
        height: auto;
        border:1px solid rgb(209, 208, 208);
        margin: 120px auto 0 auto;   
        background-color: white;
        border-radius: 10px;
    }
    .block_login span{
        margin:20px auto 0 auto;
        font-size: 30px;
        font-style:italic;
    }
    .form_login{
        display: flex;
        flex-direction: column;
    }
    .login{
        display:flex;
        flex-direction: column;
        margin: 20px auto;
    }

    .login input{
        width: 280px;
        height:45px;
        border-radius:20px;
    }

    .login button{
        width: 280px;
        height:45px;
        font-weight: bolder;
        border-radius:20px;
    }  

    .login span{
        display: none;
        font-size: 11px;
        color:red;
    }

@media screen and (min-width:320px) and (max-width:599px){
    .block_login{
        width: auto;
        margin: 120px 3% 0 3%; 
    }
}